*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
    header{
        margin: 44px 0 144px 76px;
    }
    .logo-img{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color:#989D9C;
    text-transform: uppercase;
    word-spacing:12px;
}
button{
    background-color:#665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 29.26px;

    
}
img{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}
.principal{
   display: inline-block;
   margin-left: 100px
}
h1{
    font-size: 100px;
    height: 122px;
    width: 513px;
    line-height: 121.9px;
    color:#515151;
    text-transform: uppercase;

}
h2{
 height: 71px;
 font-size: 58px;
 line-height: 70.7px;
 color:#515151 ;
 font-weight: 300;
 
}
p{
    width: 515px;
    font-size: 24px;
    line-height: 29.26px;
    color: #848484;
    text-align: justify;
    
}
.botao{
    font-size: 28px;
    line-height: 34.13px;
    height: 64px;
    width: 239px;
    color: #000000;
    border-radius: 50px;
    border: none;
    background-color:#ADFF00 ;
    margin-top: 50px;

}